{% load tailwind_tags %}


<!DOCTYPE html>
<html lang="en" class="bg-slate">
  {% tailwind_css %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Bookstore</title>
</head>
<body>
  <header>
    <nav class="relative px-5 flex justify-between items-center h-14 bg-green-700 drop-shadow-md">
      <!-- Logo -->
      <div>
          <a href="{% url 'home' %}" class="text-white text-2xl font-semibold italic">
              Online <span class="text-amber-500"> Bookstore</span>
          </a>
      </div>

      <!-- This div and its children show up when screen's width >= 769px (md breakpoint) -->
      <div id="main-nav"
          class="hidden absolute top-14 right-0 px-5 py-10 bg-gray-700 h-screen flex-col 
          md:flex md:space-y-0 md:relative md:top-0 md:right-0 md:p-0 md:flex-row md:h-full md:flex-grow md:justify-between md:items-center md:ml-10 md:bg-inherit">
          <!-- Menu Links -->
          <div
              class="order-last flex flex-col items-end text-slate-900 space-y-3  md:flex-row md:items-start md:order-first md:space-y-0 md:space-x-5">
              <a class="text-sky-500 text-3xl" href="{% url 'home' %}">Home</a>
              <a class="hover:text-zinc-300 text-xl active:text-white " href="{% url 'about' %}">About</a>
                {% if user.is_authenticated %}
                    <a class="hover:text-zinc-300 active:text-white text-xl" href="{% url 'account_logout' %}">Log Out</a>
                {% else %}   
                    <a class="hover:text-zinc-300 active:text-white text-xl" href="{% url 'account_login' %}">Log In</a>
                    <a class="btn btn-blue text-sm align-right" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
          </div>

          <!-- Search box -->
          <form class="order-first mb-10 md:mb-0 md:order-last md:pr-8" action="">
              <input class="w-72 py-1 pl-3 pr-10 rounded-full focus:outline-0" type="text" placeholder="Search.."
                  name="search">
              <button class="-ml-8 border-6 bg-trasparent" type="submit"><i
                      class="fa fa-search text-gray-400"></i></button>
          </form>
          <!-- <div>
            <img class="h-10 w-10 rounded-full" src="{person.imageUrl}" alt="" />
          </div> -->
      </div>

      <!-- The hamburger icon to open/close the #main-nav when screen width < 768px (mobile devices) -->
      <a class="md:hidden text-white text-2xl" href="javascript:void(0)" onclick="toggleMenu()"><i
              id="toggle-menu-icon" class="fa-bars fa-solid"></i></a>

  </nav>

  </header>
  <div class="relative w-full h-screen bg-blend-multiply">
      <div
          class="w-full h-full bg-cover blur-md">
          <img src="static/images/sky.jpg/"/>

          
      </div>
      
      <div
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center backdrop-blur-lg">
          {% block content %}
          {% endblock content %}
      </div>
  </div>
  <script>
        var mainNav = document.getElementById("main-nav");
        var toggleMenuIcon = document.getElementById("toggle-menu-icon");

        function toggleMenu() {
            mainNav.classList.toggle('hidden');

            // change the icon when the menu is shown/closed
            toggleMenuIcon.classList.toggle('fa-bars');
            toggleMenuIcon.classList.toggle('fa-times');
        }
    </script>

</body>

</html>
{% comment %}
https://unsplash.com/photos/sbcIAn4Mn14
https://unsplash.com/photos/OQfuugXSfH0  
{% endcomment %}