{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1 class="h1 my-2">Homepage</h1>
    <div class="container mx-auto my-3 ">
        <img class="bookcover" src="{% static 'images/bookcover.jpg' %}"/>
    </div>
    <div class="md:container md:mx-auto text-2xl text-zinc-300">
    {% if user.is_authenticated %}
        Hi {{ user.username }}
        <div class="container mx-auto text-red-400 hover:text-red-700">
            <p>
                <a href="{% url 'account_logout' %}">Log Out</a>
            </p>
        </div>
    {% else %}
    <div class="md:container md:mx-auto text-2xl text-center text-red-700"
        <p>You are not logged in</p>
    </div>
        <div class="md:container md:mx-auto text-xl">
        <div class="text-sky-500 hover:text-sky-700">
            <a href="{% url 'account_login' %}">Log In</a>
        </div>

        <div class="text-green-500 hover:text-green-700 py-2">
            <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
    </div>
    {% endif %} 
    </div>
{% endblock content%}